---
const { label } = Astro.props;
---

    <button class="bg-[#002E51] rounded-full text-white py-4 px-8 text-lg uppercase hover:bg-[--color-second] hover:transition  hover:delay-100 hover:shadow-lg hover:shadow-cyan-500/50">
        { label }
    </button>

