---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Beneficios from '../components/Beneficios.astro';
import Productos from '../components/Productos.astro';
import Post1 from '../components/Post-1.astro';
import Post2 from '../components/Post-2.astro'
import Funcion from '../components/Funcion.astro'
import Clientes from '../components/Clientes.astro';
import Gallery from '../components/Gallery.astro';
import Testimonio from '../components/Testimonio.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="¡Purificadores y dispensadores de Agua!.">
	<Header/>
	<main>
		<Beneficios/>
		<Productos/>
		<Post1/>
		<Post2/>
		<Funcion/>
		<Clientes/>
		<Gallery/>
		<Testimonio/>
		<Faq/>
		<Footer/>
	</main>
</Layout>


