---

---
<footer class="bg-[--color-primary] pt-20 pb-20">
    <div class="container mx-auto flex flex-col items-center">
        <img src="/img/logo-blanco.png" alt="">
        <div class="w-96 mt-5">
            <p class="text-md text-white text-center">Somos la mejor alternativa en filtros y purificadores de agua. Únicos con membrana Filmtec American</p>
        </div>
        <div class="mt-10 text-center">
            <h4 class="text-[--color-second] text-xl font-semibold">Contáctenos</h4>
            <ul class="text-white flex flex-col items-center">
                <li class="flex gap-2"><img src="/img/map.svg" alt="">Calle Los Talladores 430, Urb. El Artseno, Ate</li>
                <li class="flex gap-2"><img src="/img/phone.svg" alt="">965 745 152</li>
                <li class="flex gap-2"><img src="/img/phone.svg" alt="">987 221 485</li>
                <li class="flex gap-2"><img src="/img/phone.svg" alt="">970 455 388</li>
            </ul>
        </div>
    </div>
</footer>