---
    import Navbar from './Navbar.astro';
    import Button from '../UX/Button.astro';
---


<header class="bg-center bg-cover pt-5 pb-28 bg-no-repeat" style="background-image: url('/img/bg.jpg');">
    <Navbar></Navbar>
    <div class="flex flex-col container mx-auto mt-5">
        <div class="flex flex-col justify-center items-center p-3">
            <img src="/img/logo.png" alt="" width="230">
            <p class="lg:w-1/2 w-full text-center mt-5 text-md">
                Disfruta de agua pura y saludable con los mejores purificadores y dispensadores del mercado. Ideal para hogares, oficinas y empresas que buscan calidad y confiabilidad en cada gota.
            </p>
        </div>
        <div class="flex lg:flex-row flex-col-reverse mx-auto mt-10 mb-4">
            <div class="flex flex-col justify-end p-3">
                <h2>
                    <span class="text-5xl text-white font-semibold">¡Purificadores y dispensadores</span> <br>
                    <span class="text-5xl text-white font-light">de agua para</span> <br>
                    <span class="text-5xl text-[--color-second] font-semibold">tu hogar y negocio!</span>
                </h2>
                <div class="mt-5">
                    <Button
                    label="Solicita tu Asesoría Gratis";
                />
                </div>
            </div>
            <div class="">
                <img src="/img/img-banner.png" alt="">
            </div>
        </div>
    </div>
</header>