---

---
<section class="bg-[--color-primary] py-14">
    <div class="container mx-auto">
        <div class="text-center text-white">
            <h3 class="text-4xl font-semibold">Confianza y Certificación</h3>
            <h4 class="text-3xl font-medium text-[--color-second]">Productos con certificado NSF de fabricante</h4>
            <p class="mt-5">En Purificare, priorizamos la calidad y seguridad del agua. Todos nuestros equipos <br>
                están homologados, con certificaciones internacionales que garantizan su rendimiento.</p>
        </div>
    </div>
</section>